<main class="container">
  <ul class="equipment-list" *ngIf="equipmentList">
    <li *ngFor="let e of equipmentList">
      <div class="equipment-photo" *ngIf="e.equipment_photos">
        <img src="{{e.equipment_photos[0].thumbnail_url}}" alt="equipment photo">
      </div>
      <div class="equipment-description">
        <p>{{ e.description }}</p>
        <span class="tag__type">{{ e.equipment_type}}</span>
        <span class="tag__manufacturer">{{ e.manufacturer}}</span>
      </div>
      <div class="equipment-action">
        <button>X</button>
      </div>
    </li>
  </ul>
</main>