/* You can add global styles to this file, and also import other style files */
html, body {
  font-size: 10px;
}

.tag {
  font-size: 1rem;
  color: white;
  padding: .5rem 1rem;
  margin: 0 .3rem;
  border-radius: .5rem;
  letter-spacing: 1px;
}

.tag__type {
  background-color: #327bff;
}

.tag__manufacturer {
  background-color: #6c757d;
}
